:root {
  --color-main: #212121;
  --color-secondary: #fc294a;
  --color-white: #f5f5f5;
  --color-black: #424242;

  --font-size-lx: 3rem;
  --font-size-l: 2.5rem;
  --font-size-m: 2rem;
  --font-size-s: 1.5rem;
  --font-size-sx: 1.2rem;
  --font-size-sxx: 0.9rem;
}

.grid {
  display: grid;
}

.grid-center {
  justify-content: center;
  align-items: center;
}